.wrapper {
	background-image: url("../../assets/image/5.jpg");
	background-repeat: no-repeat;
	/* object-fit:contain; */
  height: 4000px;

	background-position: center;
	background-attachment: fixed;
  /* background-color: #20232a;
	opacity: 0.9;  */
}


@media screen and (max-width: 1060px) {
  .wrapper {
    width: 720px;
  }
}

@media screen and (max-width: 740px) {
  .wrapper {
    width: 520px;
  }
}