.food-container{
	/* background-image: url("../../assets/image-header/24.jpg"); */
  background-image: url("../../assets/image/beetroot.jpg");
	background-repeat: no-repeat;
	/* object-fit:contain; */
	background-position: center;
	background-attachment: fixed;
	height: 1800px;
  /*background-color: #3c3a53; /*#3f2e36;/*#000000bb;*/
  /* background-color: #20232a;
	opacity: 0.9; */
}
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #c48f8f;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 320px;
  margin: 20px;
}

.error {
  color: #c51f1f;

}