.sweet-container {
	/* background-image: url("../../assets/image-header/33.jpg"); */
	background-image: url("../../assets/image-header/31.jpg");
	background-repeat: no-repeat;
	/* object-fit:contain; */
	background-position: center;
	background-attachment: fixed;

}

