.sweet-container {
	/* background-image: url("../../assets/image-header/33.jpg"); */
	background-image: url("../../assets/image-header/31.jpg");
	background-repeat: no-repeat;
	/* object-fit:contain; */
	background-position: center;
	background-attachment: fixed;
	height: 1800px;
	/*background-color: rgba(	32, 35, 42, 0.9);/*#011805ee;/*#3c3a53; /*#3f2e36;/*#000000bb;*/
	/* background-color: #20232a;
	opacity: 0.9; */

}
.title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #c48f8f;
}
