
.tablesConteiner{
    width: 90%;
    max-width: 1000px;
    width: 1000px;
    height: 667px;
    margin: auto;
    background-image: url('image2.jpeg');
}
.tablesDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.table{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cloze{
    margin-left: 95%;
}

.table1{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: solid 2px aliceblue;
    border-radius: 50%;
}

.tablename{
   color: blanchedalmond;
}

