.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px;
}

.link {
  text-decoration: none;
  color: #2ae68e;
}

.link:hover {
  text-decoration: underline;
}