.drink-container{
	background-image: url("../../assets/image-header/37.jpg");
	background-repeat: no-repeat;
	/* object-fit:contain; */
	background-position: center;
	background-attachment: fixed;
	/* height: 8000px; */
}