.App-footer {
	position: absolute;
	top: 1800px;
	background-color: #f2f2f2;
	/* width: 100%; */
	padding: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
}
.first-footer-container {
	width: 100%;
	padding-left: 30px;
	line-height: 2;
	font-size: 17px;
	font-family: Montserrat, sans-serif;
	color: #6d6d6d;
}
.second-footer-container {
	width: 200px;
	line-height: 2;
	padding-left: 50px;
	font-size: 17px;
	font-family: Montserrat, sans-serif;
	color: #6d6d6d;
}
.third-footer-container {
	width: 200px;
	line-height: 2;
	padding-left: 50px;
	font-size: 17px;
	font-family: Montserrat, sans-serif;
	color: #6d6d6d;
}
.fourth-footer-container {
	width: 315px;
	line-height: 2;
	padding-left: 50px;
	font-size: 17px;
	font-family: Montserrat, sans-serif;
	color: #6d6d6d;
}

.footer-inner-container > li {
	list-style: none;
	line-height: 2;
	font-size: 15px;
	font-family: Montserrat, sans-serif;
	color: #6d6d6d;
}
.footer-inner-text {
	padding-top: 25px;
	color: #6d6d6d;
	font-size: 19px;
	font-family: Josefin Sans, sans-serif;
}
.footer-container-link {
	color: #6d6d6d;
	text-decoration: none;
}
.footer-container-link:hover {
	color: black;
}
.fourth-footer-container > p:hover {
	color: black;
}
